.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* 1/5 | 3/5 | 1/5 */
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: calc(100vh - 120px);
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.main-grid > div {
    padding: 20px;
}
/* Вертикальные разделители */
.main-grid > :first-child { border-right: 2px solid #bdc3c7; }
.main-grid > :nth-child(2) { border-right: 2px solid #bdc3c7; }